@model IEnumerable<NZWalks.UI.Models.DTO.RegionDto>

@{
}




<div class="d-flex justify-content-between">
    <h1>Regions</h1>
    <a class="btn btn-secondary" asp-controller="Regions" asp-action="Add" style="padding-top:9px">Add Region</a>

</div>

<table class="table table-bordered" style="margin-top:20px">
    <thead>
        <tr>
            <th>Id</th>
            <th>Code</th>
            <th>Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var walk in Model)
        {
            <tr>
                <td>@walk.Id</td>
                <td>@walk.Code</td>
                <td>@walk.Name</td>
                <td>
                    <a asp-controller="Regions" asp-action="Edit" asp-route-id="@walk.Id" 
                    class="btn btn-light">Edit</a>

                </td>


            </tr>
        }
    </tbody>
</table>